---
import Home from "./Home/home.astro";
import About from "./About/about.astro";
import Contact from "./Contact/contact.astro";
import MeasurePickles from "../components/MeasurePickles";
import Layout from "../layouts/Layout.astro";

import * as m from "../paraglide/messages";
import { languageTag } from "../paraglide/runtime";
---

<Layout title={m.homePageTitle()}>
  <main>
    <Home />
    <About />
    <Contact />
    <MeasurePickles client:load />
  </main>
</Layout>
