---

---

<!-- ========== FOOTER ========== -->
<footer class="mt-auto w-full max-w-[85rem] py-10 px-4 sm:px-6 lg:px-8 mx-auto">
  <div class="pt-5 mt-5 border-t border-gray-200 dark:border-neutral-700">
    <div class="sm:flex sm:justify-between sm:items-center">
      <div class="flex flex-wrap items-center gap-3">
        <!-- Language Dropdown -->

        <!-- End Language Dropdown -->
      </div>
    </div>
  </div>
</footer>
<!-- ========== END FOOTER ========== -->
