---
interface Props {
  title: string;
}

import { ViewTransitions } from "astro:transitions";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import LanguagePicker from "../components/LanguagePicker.astro";

const { title } = Astro.props;

const paraglide = Astro.locals.paraglide;
---

<!doctype html>
<html lang={Astro.currentLocale} dir={paraglide.dir}>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Navbar />
    <slot />
    <Footer />
    <ViewTransitions />
  </body>
  <script src="../../node_modules/preline/dist/preline.js"></script>

  <style is:global>
    :root {
      --accent: 136, 58, 234;
      --accent-light: 224, 204, 250;
      --accent-dark: 49, 10, 101;
      --accent-gradient: linear-gradient(
        45deg,
        rgb(var(--accent)),
        rgb(var(--accent-light)) 30%,
        white 60%
      );
    }
    html {
      font-family: system-ui, sans-serif;
      background: #13151a;
      scroll-behavior: smooth;
    }

    main {
      @apply grid place-content-center;
    }

    main > div {
      @apply container;
    }
  </style>
</html>
